*{
    margin: 0;
    padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
/* Shared Style */



/* mono styles */
nav{
    background-color: #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding:24px 200px;
}
nav img{
    display: none;
}
.logo-1{
    color: white;
    -webkit-text-stroke:0.6px black;
}
.logo-2 {
        background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke:0.6px black;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 32px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.btn {
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    color: white;
    font-weight: 600;
    border-radius: 10000px;
    border: none;
    padding: 12px 16px;
}

/* Media qurery */
@media screen and (max-width:576px){
    nav {
        padding: 18px 20px;
    }
    nav ul{
       display:none;
    }
    nav button{
        display:none;
    }
    nav img{
        display: inline-block;
    }
}